body{
    margin : 0px ;
    background-image: url(images/background.avif);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Cinzel', serif;
}
.container {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    max-width: 800px;
    border-top: 10px solid blanchedalmond;
    border-bottom: 10px solid blanchedalmond;
    height: 100%;
    min-height: 100vh;
  }
input [type="text" i]{
    padding: 1px 2px;
}

.task-area{
    border: 1px solid lightgray;
    margin-top: 16px;
    
}
.task-tabs{
    display: flex;
    border-bottom: 1px solid lightgray;
    position: relative;
}
.task-tabs div{
    padding: 1em;
}
#underLine{
    height: 4px;
    background-color: plum;
    position: absolute;
    width: 65px;
    left: 0px;
    top: 52px;
    padding: 0px;
}
.task {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid lightgray;
    position: relative;
  }
  
.task-done{
    text-decoration: line-through;
}

.task span{
    padding: 1rem;
}

.task-tabs div{
    cursor: pointer;
}
#add-button{
    border: none;
    background-color:bisque;
    color : black;
}
#task-input{
    width: 20em;
}

.button-box button {
    height: 100%;
    border: none;
    width: 5em;
    margin: 0;
    background-color: white;
    transition: 0.5s;
  }
  .button-box button:first-child:hover {
    background-color: greenyellow;
  }
  .button-box button:nth-child(2):hover {
    background-color: rgb(255, 0, 0, 0.3);
  }
  .fa-check {
    color: limegreen;
  }
  
  .fa-trash {
    color: red;
}  